<div class="wrapper">
  @if (isLoading()) {
    <p class="loader">Загружаем списки регионов...</p>
  } @else {
    @if (loadingError()) {
      <p class="error">Ошибка загрузки</p>
    } @else {
      <div class="header">
        <p class="text">Добавить отчет</p>
      </div>
      <div class="selectors-wrapper">
        <regions-ui-multi-select (selectRegion)="onRegionSelected(true)"></regions-ui-multi-select>
        <regions-ui-single-select (selectRegions)="onRegionsSelected(true)"></regions-ui-single-select>
      </div>
    }
  }
  <div class="bottom-block">
    @if (!singleRegionChecked() && !multiRegionChecked()) {
      <p class="prompt">Нужно заполнить поля, отмеченные *</p>
    }
    <button mat-fab class="button" [disabled]="singleRegionChecked() && multiRegionChecked()" (click)="send()">Добавить отчет</button>
  </div>
</div>
