$main-font: 'SF Pro Display', --apple-system, Roboto, 'Helvetica Neue', Arial, sans-serif;;
$radius-s: 8px;
$radius-m: 10px;

$base-text-color: #FFFFFF;
$main-background: #121212;
$accent-color: #DA7E3C;
$dark-gray: #2C2C2C;
$light-backgound: #4B4B4B;
$secondary-text-color: #808080;
